

body {
    background-color: rgba(0, 0, 0, 0.05);
}

a {
    cursor: pointer;
}

    a:hover {
        text-decoration: none;
    }

img.logo {
    width: 48px;
}

.top-logo {
    position: absolute;
    top: 56px;
}

.card {
    border-radius: .5rem;
}

.page-card {
    margin: 5.5rem 0;
}

    .page-card .card {
        max-width: 554px;
        margin: auto;
        /*position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);*/
    }

        .page-card .card .card-body {
            padding: 1.25rem 3rem;
        }


a.link, a.link:hover {
    color: #000;
    text-decoration: underline !important;
}

.text-underline {
    text-decoration: underline !important;
}

.page-card span.back {
    position: absolute;
    top: 2rem;
    left: 9rem;
    cursor: pointer;
    z-index: 1;
}

    .page-card span.back .svg-inline--fa {
        margin-right: .75rem;
    }


@media (max-width: 1024px) {
    .page-card span.back {
        top: 2rem;
        left: 6rem;
    }
}

@media (max-width: 768px) {
    .top-logo {
        top: 26px;
        left: 16px;
    }

    .page-card span.back {
        top: 0.5rem;
        left: 2rem;
    }

    .header a.back {
        top: -2rem !important;
    }

    .header a.btn {
        top: -2.2rem !important;
    }
}


.card-body .card-form {
    margin: 2.75rem 4rem;
}

.btn-custom {
    padding: 0.75rem 2rem;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: .75rem;
}


.bg-yellow {
    background-color: #FEC900;
}

.bg-blue {
    background-color: #2D7DD2;
}

.bg-green {
    background-color: #15BC7F;
}

.c-green {
    color: #15BC7F;
}

.c-red {
    color: #f74e35;
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
}

    .btn .svg-inline--fa {
        margin-right: 0.5rem;
    }

.form-control, .select2-container--default .select2-selection--single, .select2-container--default .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: none;
    padding: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
    border-radius: 0;
    color: #000;
    font-weight: 500;
}

    .select2-container .select2-selection--single, .select2-container .select2-selection--single,
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: calc(1.5em + .75rem + 2px);
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: calc(1.5em + .75rem + 2px);
    }

    .form-control:focus {
        box-shadow: none;
    }

.select2-container.is-valid .select2-selection--single {
    border-color: #28a745;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center right calc(.375em + .1875rem);
    background-size: calc(.75em + .375rem) calc(.75em + .375rem)
}

.select2-container.is-invalid .select2-selection--single {
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
    background-repeat: no-repeat;
    background-position: center right calc(.375em + .1875rem);
    background-size: calc(.75em + .375rem) calc(.75em + .375rem)
}

.custom-file-label {
    border: none;
    cursor: pointer;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
}

    .custom-file-label::after {
        border: none;
        border-radius: 0;
    }


.form-group label {
    text-transform: uppercase;
}

.form-control-bg-d .form-control, .form-control-bg-d .custom-control-label::before, .form-control-bg-d .select2-container--default .select2-selection--single {
    background-color: transparent;
}

.notification .custom-control-label::after, .notification .custom-control-label::before {
    border-radius: 0;
    width: 1.5rem;
    height: 1.5rem;
    top: 1px
}

.notification .custom-control {
    min-height: 4rem;
}

    .notification .custom-control span {
        display: block;
        font-size: 14px;
        position: absolute;
        left: 0;
        color: rgba(0, 0, 0, 0.50);
        font-weight: 500;
    }


.notification .custom-control-label {
    padding-left: 1rem;
    font-size: 18px;
    font-weight: 500;
}



.navbar {
    background-color: #000000 !important;
}

    .navbar::after {
        position: absolute;
        display: inline-block;
        top: 60px;
        z-index: -1;
        left: 0;
        content: "";
        color: #FEC900;
        border-bottom: 0;
        border-right: 10.5rem solid transparent;
        border-top: 3rem solid;
        border-left: 0;
    }

    .navbar .nav-user {
        color: #fff;
    }

        .navbar .nav-user .notification {
            text-transform: uppercase;
            font-weight: bold;
            margin-right: 4rem;
        }

            .navbar .nav-user .notification .svg-inline--fa {
                margin-right: .75rem;
            }

            .navbar .nav-user .notification .badge {
                margin-left: .2rem;
                padding: .25em .45em;
                font-size: 100%;
            }


        .navbar .nav-user .name {
            margin-left: .75rem;
        }

        .navbar .nav-user .dropdown-toggle::after {
            display: none;
        }

        .navbar .nav-user .notification .dropdown-menu {
            left: -138px;
            width: 338px;
            top: 34px;
            padding: 0 .75rem !important;
        }

            .navbar .nav-user .notification .dropdown-menu::before {
                position: absolute;
                display: inline-block;
                top: -8px;
                right: 20px;
                content: "";
                color: #ffffff;
                border-bottom: .5em solid;
                border-right: .5em solid #95121200;
                border-top: 0;
                border-left: .5em solid transparent;
            }

            .navbar .nav-user .notification .dropdown-menu .dropdown-item {
                padding: .55rem .75rem;
                border-bottom: 1px solid #eaeaea;
                white-space: normal;
                font-size: 14px;
                text-transform: none;
            }

                .navbar .nav-user .notification .dropdown-menu .dropdown-item.unread::before {
                    position: absolute;
                    display: inline-block;
                    right: 8px;
                    content: ' \25CF';
                    color: #FEC900;
                }

        .navbar .nav-user .profile .dropdown-menu {
            left: -90px;
            width: 200px;
        }

            .navbar .nav-user .profile .dropdown-menu::before {
                position: absolute;
                display: inline-block;
                top: -8px;
                right: 20px;
                content: "";
                color: #ffffff;
                border-bottom: .5em solid;
                border-right: .5em solid transparent;
                border-top: 0;
                border-left: .5em solid transparent;
            }

            .navbar .nav-user .profile .dropdown-menu .dropdown-item {
                padding: .55rem .75rem;
                border-bottom: 1px solid #eaeaea;
            }



.circle {
    border-radius: 50%;
}

.header a.back {
    color: rgba(0, 0, 0, .50);
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    top: .75rem;
}

    .header a.back .svg-inline--fa {
        margin-right: .75rem;
    }

.header a.btn {
    position: absolute;
    right: 0;
}

.header .header-sub-title {
    text-transform: uppercase;
    color: rgba(0, 0, 0, .25);
    font-weight: bold;
    padding-bottom: .4rem;
}

.user-details img.user-photo, .settings img.user-photo {
    height: 128px;
    width: 128px;
}

.user-details .btn-outline-dark, .settings .btn-outline-dark {
    font-weight: 500;
}

    .user-details .btn-outline-dark:hover, .settings .btn-outline-dark:hover {
        color: #343a40;
        background-color: transparent !important;
    }

.user-details .section-title, .topics .section-title, .modules .section-title {
    text-transform: uppercase;
    color: rgba(0, 0, 0, .50);
    font-weight: bold;
    padding-bottom: .4rem;
}

.btn-transparent, btn-transparent:hover {
    border: 2px solid rgba(0, 0, 0, .30) !important;
    color: rgba(0, 0, 0, .50) !important;
}


.completed-progress {
    color: rgba(0, 0, 0, .50);
}

    .completed-progress p {
        font-weight: 500;
        margin-bottom: 0;
    }

        .completed-progress p span {
            font-weight: 700;
        }

.color-0-25 {
    color: rgba(0, 0, 0, .25) !important;
}

.user-details .achievements .section-title, .user-details .gifts .section-title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.user-details .achievements .scroll, .user-details .gifts .scroll {
    max-height: 190px;
    overflow: auto;
}

.user-details .achievements dt, .user-details .gifts dt, .video-rating dt {
    cursor: pointer;
}

    .user-details .achievements dt img, .user-details .gifts dt img {
        width: 82px;
        margin-top: 2rem;
    }


img.disabled {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .5;
}

.user-details .achievements dt span {
    display: block;
    font-size: 18px;
    margin-top: 1.5rem;
}

.user-details .gifts dt span {
    display: block;
    padding: 0 .75rem;
    font-size: 14px;
    margin-top: 1rem;
    font-weight: 500;
}

.settings .nav-pills .nav-link {
    border-radius: 0;
    color: #000;
    font-weight: 500;
}

    .settings .nav-pills .nav-link.active, settings .nav-pills .show > .nav-link {
        color: #000;
        font-weight: 500;
        background-color: transparent;
        border-bottom: 2px solid #000;
    }

.settings .custom-file-label {
    border-radius: 0;
    background-color: transparent;
    border-color: #000;
    width: 120px;
    text-transform: uppercase;
    color: #000;
    font-weight: 500;
    border: 1px solid #000;
    width: auto;
    right: unset;
    cursor: pointer;
}

    .settings .custom-file-label::after {
        content: none;
    }

.topics .card .card-body .card-title, .modules .card .card-body .card-title, .contents .card .card-body .card-title {
    font-weight: bold;
    margin-bottom: .25rem;
}

.topics .card, .modules .card, .contents .card {
    color: #000;
}

.locked a {
    cursor: default;
}

.locked .card, .locked .card {
    color: rgba(0, 0, 0, 0.25);
    box-shadow: none !important;
}

.locked img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .5;
}


p.anchor {
    height: 24px;
    margin-bottom: 0;
}

.topics .card .card-body .card-text, .modules .card .card-body .card-text {
    height: 98px;
    line-height: 20px;
}

.contents .card .content-type img {
    width: 54px;
}


.modal-content {
    border-radius: 0;
}

    .modal-content a.close-modal {
        width: 20px;
        position: absolute;
        right: 14px;
        top: 14px;
        cursor: pointer;
        z-index: 1;
    }

        .modal-content a.close-modal img.close {
            width: 20px;
        }

.requirements .list-group-item {
    padding: .25rem 0 0 3rem;
}

    .requirements .list-group-item::after {
        position: absolute;
        display: inline-block;
        left: 1.5rem;
        content: ' \25CF';
        color: #FEC900;
    }


.reward img.img-achievements {
    width: 90px;
}

.reward .modal-text {
    line-height: 20px;
}

.reward .modal-text {
    line-height: 20px;
}

.border-radius-0 {
    border-radius: 0;
}

.overview p, .overview ul li {
    font-size: 1.2rem;
}

.contents-datials embed {
    width: 100%;
    height: 50rem;
}

.contents-datials video {
    width: 100%;
}

.video-rating dt span {
    display: block;
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

.video-rating dt:hover {
    color: #FEC900;
}

.video-rating dt .svg-inline--fa {
    margin-top: 2rem;
}

.video-rating {
    background: rgba(0, 0, 0, .50);
    z-index: 1;
    width: 96%;
    left: 1rem;
    position: absolute;
    padding: 5.8rem 1rem;
}

.video-control {
    background: rgba(0, 0, 0, .50);
    z-index: 1;
    width: 96%;
    left: 1rem;
    position: absolute;
    padding: 10.6rem 1rem;
    cursor: pointer;
}

.contents-datials .overview p {
    font-size: 1.05rem;
}

/*.question .question-content {
    position: relative;
    left: -4rem;
}*/

.gj-picker-bootstrap .modal-footer {
    padding: 0;
}

.gj-datepicker-bootstrap [role=right-icon] button, .gj-datepicker-bootstrap [role=right-icon] button:hover {
    background-color: #e9ecef;
    border: 0;
}

/* rating */
.rating {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid #000;
    box-sizing: border-box;
    background: #FEC900;
}

    .rating input {
        display: none;
    }

    .rating label {
        display: block;
        cursor: pointer;
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .5s;
        background-color: #fff;
        border-right: 1px solid #000;
        margin: 0;
    }

    .rating input[type="radio"]:hover ~ label,
    .rating input[type="radio"]:checked ~ label {
        background: transparent
    }

/* box style - checkbox/radioSSS */
.box {
    position: relative;
    display: flex;
}

    .box.inline-box {
        display: inline-block;
    }

        .box.inline-box label {
            margin-bottom: .75rem;
        }

    .box input {
        display: none;
    }

    .box label {
        display: block;
        cursor: pointer;
        padding: .25rem 1rem;
        margin: 0 .75rem;
        min-width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border: 1px solid #000;
    }

        .box label:hover,
        .box input[type="radio"]:checked + label, .box input[type="checkbox"]:checked + label {
            background: #FEC900;
        }


.flashcard .card-body {
    padding: 2rem;
}

.flashcard .card-text {
    color: rgba(0, 0, 0, .70);
    min-height: 126px;
}

.flashcard p.anchor {
    color: rgba(0, 0, 0, .50);
    font-size: 1rem;
}

.flashcard .card img {
    width: 125px;
    height: 125px;
    margin-top: 3rem;
}
 
.flashcard-question .card-title {
    min-height: 170px;
    align-items: center;
    display: flex;
}

.flashcard-question .card {
    cursor: pointer;
}

    .flashcard-question .card p.anchor {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }

.b-green-2 {
    border: 2px solid #15BC7F !important
}

.b-red-2 {
    border: 2px solid #f74e35 !important
}
