body {
    background: rgba(0, 0, 0, 0.05);
    font-size: .9rem;
}

.bg-blue {
    background-color: #147EFB;
}

.bg-blue-light {
    background-color: #5FC9F8;
}

.bg-yellow {
    background-color: #FECB2E;
}

.bg-red-light {
    background-color: #FC3158;
}

.bg-red {
    background-color: #FC3D29;
}

.bg-green {
    background-color: #53D769;
}

.bg-orange {
    background-color: #ed4e17;
}

.navbar {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    left: 240px;
    height: 56px;
}

    .navbar .nav-content {
        display: flex;
    }

        .navbar .nav-content .navbar-nav {
            flex-direction: row;
            align-items: center;
        }

        .navbar .nav-content .nav-item {
            margin: 0 .25rem;
        }

            .navbar .nav-content .nav-item.language {
                margin-left: 1rem;
            }

            .navbar .nav-content .nav-item.icon {
                padding: 0 1rem;
                border-right: 1.5px solid rgba(0, 0, 0, 0.2);
            }

                .navbar .nav-content .nav-item.icon span.badge {
                    background: #147EFB;
                    color: #fff;
                    border-radius: 50%;
                    border: 1.5px solid #fff;
                    font-size: 8px;
                    font-weight: 500;
                    position: relative;
                    top: -8px;
                    left: -8px;
                }

                .navbar .nav-content .nav-item.icon img {
                    height: 20px;
                }

            .navbar .nav-content .nav-item.profile-photo {
                margin-left: 3rem;
            }

                .navbar .nav-content .nav-item.profile-photo .badge {
                    border-radius: 50%;
                    border: 2px solid #fff;
                    font-size: 6px;
                    position: relative;
                    top: -12px;
                    left: -12px;
                }

                    .navbar .nav-content .nav-item.profile-photo .badge.online {
                        background: #53D769;
                        color: #53D769;
                    }

                    .navbar .nav-content .nav-item.profile-photo .badge.offline {
                        background: #FC3D29;
                        color: #FC3D29;
                    }

            .navbar .nav-content .nav-item .nav-link {
                padding: 0;
                color: #000;
            }

            .navbar .nav-content .nav-item.profile a span {
                cursor: pointer;
            }


                .navbar .nav-content .nav-item.profile a span.status {
                    display: block;
                    font-size: 10px;
                    line-height: 10px;
                    color: rgba(0,0,0,.5);
                }

                .navbar .nav-content .nav-item.profile a span.name.dropdown-toggle::after {
                    margin-left: .5em;
                }

.dropdown-arrow {
    position: relative;
    height: 8px;
    left: 6px;
    top: -1px;
}

a {
    cursor: pointer;
    -webkit-transition: 0.25s;
    transition: 0.25s;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

/* side nav*/
.sidenav {
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    background-color: #292c44;
    overflow-x: hidden;
    transition: 0.5s;
}

    .sidenav .sidenav-brand a {
        color: rgba(221, 221, 221, .65);
    }

        .sidenav .sidenav-brand a:hover {
            color: #fff;
        }

    .sidenav .sidenav-top {
        width: 100%;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: .5rem 1rem;
        /*border-bottom: 1.5px solid rgba(255, 255, 255, 0.4);*/
    }

        .sidenav .sidenav-top .sidenav-brand {
            width: 100%;
            padding-top: .3125rem;
            padding-bottom: .3125rem;
            font-size: 1.25rem;
            line-height: inherit;
            white-space: nowrap;
        }


.sidenav-content {
    /*margin: 2rem 0;*/
}

.sidenav-content-menu {
    position: absolute;
    width: 100%;
    top: 56px;
    bottom: 0;
    background-color: #343854;
    -webkit-transform: translate3d(240px, 0, 0);
    transform: translate3d(240px, 0, 0);
    -webkit-transition: -webkit-transform 150ms ease-in-out;
    transition: -webkit-transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

    .sidenav-content .sidenav-nav, .sidenav-content-menu .sidenav-nav {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        .sidenav-content .sidenav-nav .sidenav-item {
            cursor: pointer;
            font-size: 1rem;
            color: rgba(221, 221, 221, .65);
            height: 38px;
            align-items: center;
            display: flex;
        }


        .sidenav-content-menu .sidenav-nav .menu-title, .sidenav-content-menu .sidenav-nav .sidenav-item {
            font-size: .9rem;
            color: rgba(221, 221, 221, .65);
            height: 30px;
            align-items: center;
            display: flex;
        }

        .sidenav-content-menu .sidenav-nav .menu-title {
            margin: .75rem 0 0 0;
            font-size: .8rem;
            font-weight: 500;
            text-transform: uppercase;
        }

        .sidenav-content-menu .sidenav-nav .sidenav-item {
            cursor: pointer;
        }

            .sidenav-content-menu .sidenav-nav .menu-title, .sidenav-content-menu .sidenav-nav .sidenav-item .sidenav-link {
                padding-left: 1rem;
            }

            .sidenav-content .sidenav-nav .sidenav-item.active, .sidenav-content .sidenav-nav .sidenav-item:hover,
            .sidenav-content-menu .sidenav-nav .sidenav-item.active, .sidenav-content-menu .sidenav-nav .sidenav-item:hover {
                color: #fff;
            }

        .sidenav-content .sidenav-nav .sidenav-item .sidenav-link {
            padding-left: .75rem;
        }

        .sidenav-content .sidenav-nav .sidenav-item.side-menu.active .sidenav-link::after {
            content: '\A';
            border-style: solid;
            border-width: 10px 10px 10px 0;
            border-color: transparent #343854 transparent transparent;
            -webkit-transition: all 250ms ease-in-out;
            transition: all 250ms ease-in-out;
            position: absolute;
            left: 42px;
            opacity: 100;
        }



        .sidenav-content .sidenav-nav .sidenav-item .sidenav-link .svg-inline--fa {
            width: 25px;
            margin-right: .75rem;
        }



.tooltiptext {
    visibility: hidden;
    background-color: #ed4e17;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: .25rem 1rem;
    position: absolute;
    z-index: 1;
}

.cu-tooltiptext .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #ed4e17 transparent transparent;
}

.cu-tooltiptext:hover .tooltiptext {
    visibility: visible;
}


/*main*/

main {
    margin-top: 56px;
    margin-left: 240px;
    padding: 2rem 1.75rem;
    transition: 0.5s;
}

.circle {
    border-radius: 50%;
}

.br-05 {
    border-radius: .5rem !important;
}

.br-075 {
    border-radius: .75rem !important;
}

.br-1-5 {
    border-radius: 1.5rem !important;
}

.bl-1-5 {
    border-left: 1.5rem solid !important;
}

.bc-blue {
    border-color: #147EFB !important;
}

.bc-blue-light {
    border-color: #5FC9F8 !important;
}

.bc-yellow {
    border-color: #FECB2E !important;
}

.bc-red-light {
    border-color: #FC3158 !important;
}

.bc-red {
    border-color: #FC3D29 !important;
}

.bc-green {
    border-color: #53D769 !important;
}
/* main css */

.section-title {
    font-weight: 700;
    margin-bottom: 1rem;
    color: rgba(0, 0, 0, 0.6);
}

.card {
    border: none;
}

    .card .card-body {
        padding: 2rem 1.25rem;
    }

        .card .card-body .card-title {
            font-weight: 700;
        }

        .card .card-body .card-text {
            color: rgba(0, 0, 0, 0.6);
            min-height: 44px;
            font-weight: 500;
        }

        .card .card-body .anchor {
            min-height: 21.09px;
        }
